/* colors for MoneyMap */
.root {
  -fx-background-color: linear-gradient(to bottom right, #1b1b1b, #1b1b1b);
  -fx-font-family: "Segoe UI", "Helvetica Neue", Arial;
}

.app-title {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: #e6eef6;
  -fx-padding: 12px 8px;
}

.menu-button, .menu-button .label {
  -fx-background-color: #dfc21f;
  -fx-text-fill: rgb(255, 255, 255);
  -fx-background-radius: 6px;
}

.button {
  -fx-background-color: #1b1b1b;
  -fx-text-fill: white;
  -fx-background-radius: 6px;
}

.label {
  -fx-text-fill: #cbd5e1;
}

.left-menu {
  -fx-background-color: #0b1220;
  -fx-padding: 10px;
}

.context-menu .menu-item, .menu-item {
  -fx-text-fill: #0f172a;
}
